$red: #ec272a;

ul,
li {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  height: auto;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

h1,
h2 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.header {
  background: url('../images/video-bg.jpg');
  padding-bottom: 1em;
  position: relative;
}

.top-wrap {
  float: left;
  height: 11em;
  width: 100%;
}

.top {
  background: rgba(0,0,0,.85);
  position: fixed;
  width: 100%;
}

.logo {
  position: fixed;
  top: 1.8em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  img {
    max-width: 145px;
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
       filter: url(#drop-shadow);
  }
}

.social-bar {
  color: #fff;
  text-align: right;
  width: 60%;
  margin: 0 auto 7px auto;

  &__title {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    margin-right: 0.5rem;
    text-transform: uppercase;
  }

  &__icons {
    display: inline-block;
  }

  &__icon {
    display: inline-block;

    &:first-of-type {
      margin-right: .3rem;
    }
  }
}

.icon {
  display: inline-block;

  img {
    vertical-align: middle;
  }
}

.nav-bar {
  background: #fff;
  font-family: 'Oswald', sans-serif;
  position: fixed;
  width: 100%;
  top: 3.9em;
  text-transform: uppercase;
}

.nav-list {
  margin: 1em, 0;
  text-align: center;

  &__item {
    display: inline-block;

    &:first-of-type {
      margin-right: 12em;
    }
  }
}

.video {
  color: #fff;
  margin: 0 auto;
  text-align: center;
  width: 562px;

  iframe {
    margin-bottom: -5px;
  }

  &__share {
    background: $red;

    &__header {
      display: inline-block;
      font-size: 1.7rem;
      font-family: 'Oswald', sans-serif;
      margin-right: .4rem;
      text-transform: uppercase;
    }

    &__list {
      display: inline-block;

      &--item {
        display: inline-block;

        img {
          vertical-align: baseline;
        }
      }
    }
  }
}

.divider {
  float: left;
  height: 1em;
  width: 100%;
  background: #fff;
}

.message {
  background: url('../images/hens.jpg');
  background-attachment: fixed;
  float: left;
  width: 100%;

  &__box {
    width: 43%;
    margin: 8em auto;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.5);
    border-radius: 6px;
    padding: 1em;
  }
}

.mail-ceo {
  float: left;
  padding-bottom: 5em;

  &__header {
    font-size: .9em;
    padding: .2em 0;
    background: $red;
    text-align: center;

    &--copy {
      color: #fff;
    }
  }

  &__content {
    padding: 1em 0;
    width: 57%;
    margin: 0 auto;

    &--copy {
      font-weight: bold;
      text-align: center;
    }

    &__email {
      width: 77%;
      margin: 1em auto;
      background: #f0f0f1;
      padding: 2em;
      text-align: center;

      &--copy {
        margin-bottom: 1em;
        text-align: left;
      }
    }

    &__button {
      color: #fff;
      background: #000;
      font-family: 'Oswald', sans-serif;
      font-size: 1.4rem;
      padding: 0.4em;
      display: inline-block;
      margin: 0 auto;
      text-transform: uppercase;

      &:hover {
        background-color: #fff;
        border: 1px solid #000;
        color: #000;
      }
    }
  }
}